server
{
    listen 8080;

    root ./www1;
    index index.html;

    max_body 100G;

    location /images
    {
        methods GET POST DELETE;
        index index.html;
        root ./images;
        autoindex on;
    }

    location /upload
    {
        upload_path /Users/sael-kha/goinfre;
        root ./up;
        methods POST DELETE;
    }

    location /cgi-bin
    {
        methods GET POST;
        root ./cgi-bin/;
        cgi .py /usr/bin/python3;
    }
}