server
{
    listen 8080;

    root ./www1;
    index index.html;

    max_body 100G;

    location /images
    {
        methods GET POST DELETE;
        root ./www1;
        index index.html;
        upload_path ./www;
        autoindex on;
    }

    location /upload
    {
        methods GET POST DELETE;
        index index.html;
        upload_path ./www1;
        autoindex on;
    }
    location /cgi-bin
    {
        methods GET POST;
        root ./cgi-bin////;
        cgi .py /usr/bin/python3;
    }
}
