server {
    listen 8080;

    root /Users/Apple/Desktop/marjwebserver/www;
    index index.html;

    max_body 100G;

    location /
    {
        methods GET POST DELETE;
    }

    location /cgi-bin
    {
        methods GET POST;
        root /Users/Apple/Desktop/server;
        cgi .py /usr/bin/python3;
    }
}